body{
    font-family: "Poppins", sans-serif;
    margin: 0;
   background-image: url(img/top-banner.png);
   background-repeat: no-repeat;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
h1{
    font-size: 50px;
}
.Orange{
    color: orange;
}
.felxible-con{
    display: flex;
    margin-bottom: 100px;
}
.expitem{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.box1{
    width: 50%;
    padding: 2%;
   
}
.box1 img{
    width: 80%;
    padding: 2%;
}
.linkButton{
    text-decoration: none;
    background-color: darkblue;
    padding: 10px 20px;
    color: aliceblue;
    background-image: linear-gradient(darkblue, cornflowerblue);
    border-radius: 10px;
}
.top-banner{
    background-image: url(/img/top-banner.png)
    background-repeat: no-repeat;
    
}
.big{
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box2{
    width: 100%;
    padding: 2%;
}
#text{
    text-align:justify;''
}
.experienceArea{
    background-image: url(/img/exp-bg.png);
    background-repeat: no-repeat;
    
}